{{#partial "content"}}
    {{#if newNonEndangeredAnimal}}
        <h4 id="success">The record of the new Non-Endangered Animal Has been Submitted Successfully</h4>
    {{/if}}
{{/partial}}

{{>layout.hbs}}